
// Default Body Class Styles
// -------------------------
// .rtl {}
// .home {}
// .blog {}
// .archive {}
// .date {}
// .search {}
// .paged {}
// .attachment {}
// .error404 {}
// .single .postid-(id) {}
// .attachmentid-(id) {}
// .attachment-(mime-type) {}
// .author {}
// .author-(user_nicename) {}
// .category {}
// .category-(slug) {}
// .tag {}
// .tag-(slug) {}
// .page-parent {}
// .page-child .parent-pageid-(id) {}
// .page-template .page-template-(template file name) {}
// .search-results {}
// .search-no-results {}
// .logged-in {}
// .paged-(page number) {}
// .single-paged-(page number) {}
// .page-paged-(page number) {}
// .category-paged-(page number) {}
// .tag-paged-(page number) {}
// .date-paged-(page number) {}
// .author-paged-(page number) {}
// .search-paged-(page number) {}

// Default Post Styles
// -------------------
// .post-id {}
// .post {}
// .page {}
// .attachment {}
// .sticky {}
// .hentry {}
// .category-misc {}
// .category-example {}
// .tag-news {}
// .tag-wordpress {}
// .tag-markup {}

// Styling content
// ---------------
// .alignnone {}
// .alignleft {}
// .alignright {}
// .aligncenter {}
// img.alignnone {}
// img.alignleft {}
// img.alignright {}
// img.aligncenter {}
// .wp-caption {}
// .gallery {}
// .gallery-caption {}
// img.size-full {}
// img.size-large {}
// img.size-medium {}
// img.size-thumbnail {}
// blockquote {}
// code {}
// pre {}
// hr {}
// del {}

.hentry {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

// This is a style that relates to different page headers. h1's & h2's
// .entry-title {
// 	color: #F00;
// }

// These two styles simply align images to the left and right of an entry
// .alignright {}
// .alignleft {}

// The entry-content style is applied to the contents of blog posts and static pages
// .entry-content {}

// The entry utility is a class for a small section at the end of each post that provides context
// .entry-utility {}

// Contains the author name, date, and other metadata
// .entry-meta {}

// For styling the navigation links at the bottom of your theme
// .navigation {}

// Comments section
// .comments {}

// Applies to specific comments
// .comment {}

// Target replies to comments
// .children {}

.hidden {
	display: none;
}

main {
	img {
		max-width: 100% !important;
		object-fit: contain;
	}
	figure {
		max-width: 100% !important;
	}
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.site-title,
.site-description {
	margin: 0;
}

.separator {
	visibility: hidden;
}

.uico {
	font-size: 70%;
	font-weight: normal;
	font-style: normal;
	line-height: 1rem;
	margin: 0 0.25rem;
}
